/* Esses arquivos contêm estilos específicos para componentes 
individuais do site, como menus, barras laterais, 
formulários, botões, etc. Eles podem ser organizados 
de acordo com o contexto ou função do componente. */

.button {
  display: inline-block;
  padding: 0.75em 1.5em;
  border-radius: 5px;
  background: #58c4c4;
  color: white;
  text-decoration: none;
}

.button:hover {
  background: #37a0a0;
}
