body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 1em;
}
.header {
  background: #fff;
  width: 100%;
}

.logo-text {
  text-transform: uppercase;
  background-color: #63c6ae;
  font-size: 24px;
  margin: 0;
  padding: 20px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  float: left;
}

.header__nav {
  clear: left;
}

.header__nav ul {
  margin: 0;
  padding: 0;
}

.header__nav li {
  list-style-type: none;
  background: #242c2c;

  text-align: center;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
}

.header__nav a {
  text-transform: uppercase;
  color: #586165;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  padding: 25px 0;
  transition: 0.3s ease;
}

.header__nav a:hover {
  color: #63c6ae;
}
.header_btnMenu {
}

.hero {
  height: 80vw;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/bkg01.jpg);

  background-size: cover;
}

.hero__title {
  background-color: #63c6ae;
  color: white;
  font-size: 28px;
  font-weight: 600;
  padding: 30px 20px;
  text-transform: uppercase;
}

.hero__text {
  background-color: #242a2c;
  margin: 5px 30px 35px;
  color: white;
  padding: 20px;
  font-size: 16px;
}

.hero__btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.card-people {
  margin-top: 2.5em;
}
.card-people:hover {
  outline: 5px solid #4bbefe;
  outline-offset: -5px;
}

.card-people:hover .avatar-card img {
  transform: translateY(-52%);
}

.card-people:hover .card-title {
  color: #4bbefe;
}

.card-people:hover .card-text {
  color: #4bbefe;
}

.bkg-card {
  width: 100%;
}

.avatar-card {
  margin: -55px auto;
  width: 88px;
  height: 88px;
  overflow: hidden;
}

.card-content {
  margin-top: 55px;
  padding: 0 25px;
  text-align: center;
  border-left: 2px solid #dbe1e7;
  text-align: start;
}

.card-title {
  color: #737c85;
  font-size: 21px;
  font-weight: bold;
}

.card-text {
  color: #929da5;
  font-size: 14px;
  margin-top: 10px;
  padding: 5px;
}

.section-content {
  background-color: #f8f9f9;
  border-top: 1px solid #e3e3e3;
}

.section-content h3 {
  color: #737c85;
  font-size: 21px;
  padding-top: 40px;
  font-weight: 600;
}

.section-content p {
  color: #929da5;
  font-size: 14px;
  word-spacing: 3px;
}

.button {
  padding: 15px 40px;
  border-radius: 3px;
  background: red;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  margin-right: 15px;
  display: inline-block;
  transition: background 0.3s ease;
}
.button:hover {
  background-color: #929da5;
}

.b-primary {
  background-color: #63c6ae;
}

.b-secondary {
  background-color: #455357;
}

.align-Titlte {
  margin: 0;
  padding: 0;
  background-color: #63c6ae;
}
.last-articles h2 {
  padding: 15px 15px;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
}

.articles-thumbs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 0;
}

.articles-thumbs img {
  display: block;
  width: 100%;
}

.slider {
  background-color: #242a2c;
  padding: 125px 0 100px;
  width: 100%;
  overflow: scroll;
}

.slideshow {
  white-space: nowrap;
}

.slideshow figure {
  display: inline-block;
  padding: 15px;
}

.quote-container {
  background-color: #63c6ae;
  padding: 50px 0;
  border-bottom: 12px solid #48b9a1;
}

.quote-slideshow h2 {
  color: white;
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  padding: 0 2em;
}

.quote-slideshow figcaption {
  color: white;
  font-size: 18px;
  text-align: center;
}

.no-js .quote-slideshow figure + figure {
  margin-top: 5em;
}
