@import url("components.css");

html {
  font-family: sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* menu superior */
.top-header {
  text-align: center;
}

.top-header-logo {
  margin: 0.5em;
  height: 40px;
}

.top-nav {
  background: #612694;
  text-align: center;
}

.top-nav ul {
  margin: 0;
  padding: 0.5em;
  list-style: none;
}

.top-nav a {
  color: white;
  text-decoration: none;
  padding: 1em;
  display: block;
}

.top-nav a:hover {
  background: #7c3792;
}

.top-content {
  padding: 1em;
  text-align: center;
  background: #f6f6f6;
}

.top-content-title {
  color: #612674;
  font-size: 1.375em;
  margin: 1.735em;
}

.top-content-subtitle {
  color: #a87bb7;
  font-size: 1em;
  line-height: 1.3;
}

/* cards */

.icon-article img {
  height: 4em;
}

.middle-content {
  padding: 2em;
  background: #f6f6f6;
  text-align: center;
}

.middle-content img {
  width: 3.5em;
  height: auto;
}

.middle-content-title {
  font-size: 1.25em;
  color: #652e79;
  text-transform: uppercase;
  font-family: Geneva, Verdana, sans-serif;
}

.middle-content p {
  line-height: 1.5;
  color: #222;
}

/* conteudo principal */

.main-content {
  padding: 2em;
}

.main-content p {
  line-height: 1.2;
}

.main-content-title {
  letter-spacing: 0.2em;
  font-size: 1.25em;
  color: #652e79;
  text-transform: uppercase;
  font-family: Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.main-content-article {
  margin-bottom: 3.5em;
}

/* footer */

.footer {
  background: #25303e;
  color: #83969f;
  text-align: center;
  padding-bottom: 1em;
}

.footer p {
  padding: 0 2em;
}

.footer-menushare {
  background: #303d4c;
  padding: 0.5em;
}

.footer-menushare ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-menushare li {
  margin: 0.5em 0.5em 0 0.5em;
  display: inline-block;
}

/* .footer-menushare img {
  width: 2.5em;
  height: auto;
  font-size: 1.1em;
  text-decoration: none;
  color: white;
} */

.icon-facebook {
  width: 2.8em;
  height: auto;
  text-decoration: none;
}

.icon-google-plus {
  width: 2.5em;
  height: auto;
  text-decoration: none;
}

.icon-twitter {
  width: auto;
  height: 2em;
  margin-bottom: 0.26em;
  text-decoration: none;
}

.footer-menushare a {
  font-size: 1.1em;
  text-decoration: none;
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: block;
}
