/* mudanças gerais a partir de 500px */
/* 560px/16px =  35em*/
@media screen and (min-width: 35em) {
  /* ta estranhamente funcionando, mas isso deve ser corrigido, 
    ta criando um grid onde não devia*/

  header {
    background: #d9d9d9;
  }
  .nav {
    display: flex;
    flex-direction: row;
  }

  .logo-nav {
    width: 100px;
    margin: 10px 0;
  }

  #ul-nav.active {
    display: flex;
    flex-direction: row;
    position: relative;
    width: auto;
    top: 0;
    right: 0;
    height: auto;
  }

  .mobile-menu {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
  }
  .nav ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    transform: none;
  }

  .nav ul li {
    margin: 10px 3px;
    width: 70px;
    padding-top: 0.6em;
  }

  .nav ul li:last-child {
    width: 110px;
    height: 2em;
    padding-top: 0.6em;
  }

  /* conteudo do top do site começo */

  .top-content {
    display: flex;
    flex-direction: row;
    height: 300px;
  }

  .top-content-descript {
    width: 48%;
    margin-left: 20px;
    margin-right: 8px;
  }
  .text-top-content {
    margin: 0;
    width: 100%;
    padding-top: 140px;
    height: 155px;
  }

  .top-content form {
    margin-top: 7px;
  }

  .form-top-content fieldset {
    border: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .form-top-content input {
    margin: 0;
    padding: 0;
    height: 48px;
  }

  .form-top-content input:nth-child(1) {
    width: 100%;
    height: 48px;
    margin: 0 5px 0 0;
  }

  .form-top-content input:nth-child(2) {
    height: 48px;
    margin: 0;
    padding: 0;
    width: 70%;
  }

  .top-content-img {
    width: 100%;
    margin: 0 20px 0 0;
    background: #d9d9d9;
    border-radius: 0.2em;
    height: 350px;
    overflow: visible;
    opacity: 1;
  }

  .top-content-img img {
    border-radius: 0.2em;
    height: 100%;
  }
  /* conteudo do top do site fim */

  /* conteudo principal */

  .main-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-around;
  }

  .card-main {
    border-radius: 0.2em;
    height: 270px;
    min-width: 49%;
  }

  /* fim do conteudo principal */

  /* começo do conteudo inferior */
  .card-bottom {
    height: 250px;
  }
  .bottom-content-bottom {
    text-align: start;
  }

  .bottom-content-bottom form input {
    margin: 5px 0;
  }

  .bottom-content-bottom form input:nth-child(3) {
    width: 80%;
  }

  .bottom-content-bottom form input:nth-child(5) {
    margin: 10px 0;
    width: 40%;
  }

  /* fim do conteudo inferior  */

  /*footer */
  .alinha-footer {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  .left-footer {
    width: 40%;
    max-width: 300px;
    margin-right: 100px;
  }

  .footer-logo {
    text-align: center;
    margin-top: 10px;
    height: 30px;
    width: 150px;
    padding-top: 15px;
    background-color: #bfbfbf;
    border-radius: 0.2em;
  }

  .text-footer {
    margin: 10px 0;
    background-color: #bfbfbf;
    border-radius: 0.2em;
    height: 185px;
    width: 100%;
  }

  .right-footer {
    margin: 10px 20px 0 20px;
    padding-bottom: 10px;
    width: 100%;
  }

  .item1-footer {
    margin-top: 10px;
    height: 115px;
    width: 100%;
  }
  .item2-footer {
    height: 115px;
    width: 100%;
  }
}

/*800px+  */
@media screen and (min-width: 47.875em) {
  /* conteudo do top do site começo */

  .bottom-content-bottom form input {
    width: 60%;
  }

  .bottom-content-bottom form input:nth-child(3) {
    width: 70%;
  }

  .bottom-content-bottom form input:nth-child(5) {
    width: 40%;
  }

  .card-main {
    border-radius: 0.2em;
    height: 270px;
    min-width: 32.5%;
    margin-right: 1px;
  }

  /* bottom content */

  /* bottom content */

  /* footer */

  .left-footer {
    max-width: 300px;
    margin-right: 100px;
  }
  .text-footer {
    height: 125px;
  }

  .right-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .item1-footer {
    margin-right: 10px;
    height: 180px;
    width: 100%;
    max-width: 200px;
  }
  .item2-footer {
    height: 180px;
    width: 100%;
    max-width: 200px;
  }
}

/*1000px+ widescreen  */
@media screen and (min-width: 62.5em) {
  /* conteudo do top do site começo */

  .bottom-content-top {
    flex-direction: row;
  }

  .card-bottom {
    height: 200px;
  }

  .nav {
    max-width: 1000px;
    margin: 0 auto;
  }

  .top-content {
    max-width: 1040px;
    margin: 20px auto;
  }

  .main-content {
    max-width: 1000px;
    margin: 80px auto;
  }

  .bottom-content {
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .alinha-footer {
    max-width: 1000px;
    margin: 0 auto;
  }
}
