/* mudanças gerais a partir de 500px */
/* 560px/16px =  35em*/
@media screen and (min-width: 35em) {
  /* ta estranhamente funcionando, mas isso deve ser corrigido, 
    ta criando um grid onde não devia*/

  header {
    height: 60px;
  }

  .nav {
    grid-template-rows: 1;
    grid-template-columns: repeat(10, 1fr);
    gap: 0px;
    padding: 0;
  }

  .logo-nav {
    width: 100%;
  }

  .nav ul {
    grid-row: 1;
    grid-column: 4/11;
    grid-template-rows: 1;
    grid-template-columns: repeat(7, 1fr);
  }
  .item1 {
    grid-column: 3/4;
    grid-row: 1;
    width: 100%;
  }

  .item2 {
    grid-row: 1;
    grid-column: 3/4;
    width: 100%;
  }

  .item3 {
    grid-row: 1;
    grid-column: 4/5;
    width: 100%;
  }
  .item4 {
    grid-row: 1;
    grid-column: 5/6;
    width: 100%;
  }
  .item5 {
    grid-row: 1;
    grid-column: 6/8;
  }

  /* conteudo do top do site começo */

  .top-content {
    display: flex;
    flex-direction: row;
    height: 300px;
  }

  .top-content-descript {
    width: 48%;
    margin-left: 20px;
    margin-right: 8px;
  }
  .text-top-content {
    margin: 0;
    width: 100%;
    padding-top: 140px;
    height: 155px;
  }

  .top-content form {
    margin-top: 7px;
  }

  .form-top-content fieldset {
    border: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .form-top-content input {
    margin: 0;
    padding: 0;
    height: 48px;
    margin-right: 2%;
  }

  .form-top-content input:nth-child(2) {
    height: 48px;
    margin: 0;
    padding: 0;
  }

  .top-content-img {
    width: 48%;
    margin: 0 3% 0 0;
    background: #d9d9d9;
    border-radius: 0.2em;
    height: 350px;
    overflow: visible;
    opacity: 1;
  }

  .top-content-img img {
    border-radius: 0.2em;
    height: 100%;
  }
  /* conteudo do top do site fim */

  /* conteudo principal */

  .main-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    justify-content: space-around;
  }

  .card-main {
    border-radius: 0.2em;
    height: 270px;
    min-width: 49%;
  }

  .card-bottom {
    height: 250px;
  }

  .bottom-content-bottom form input {
    box-sizing: border-box;
    display: flex;
    align-self: flex-start;
    margin: 10px 0;
  }

  .bottom-content-bottom form input:nth-child(3) {
    width: 80%;
  }

  .bottom-content-bottom form input:nth-child(5) {
    margin: 10px 0;
    width: 40%;
  }
}

/*800px a 1500px  */
@media screen and (min-width: 47.875em) and (max-width: 93.75em) {
  /* conteudo do top do site começo */

  .bottom-content-bottom form input {
    width: 60%;
  }

  .bottom-content-bottom form input:nth-child(3) {
    width: 70%;
  }

  .bottom-content-bottom form input:nth-child(5) {
    width: 40%;
  }

  .card-main {
    border-radius: 0.2em;
    height: 270px;
    min-width: 32.5%;
    margin-right: 1px;
  }
}

/*1500px+ widescreen  */
@media screen and (min-width: 93.75em) {
  /* conteudo do top do site começo */

  .card-main {
    border-radius: 0.2em;
    height: 270px;
    min-width: 32.5%;
    margin-right: 1px;
  }

  header {
    padding: 20px 150px 0 150px;
  }

  section {
    padding: 20px 150px 0 150px;
  }

  main {
    padding: 20px 160px 0 150px;
  }

  footer {
    padding: 20px 150px 0 150px;
  }
}
