body {
  margin-top: 0px;
  padding: 0px;
}

header {
  padding-top: 15px;
  background: #d9d9d9;
  height: 325px;
}

.nav {
  display: grid;
  grid-template-rows: [logo-start] 60px [logo-end ul-start] 230px [ul-end];
  gap: 8px;
  margin: 0 20px;
}

.logo-nav {
  border-radius: 0.2em;
  background: #bfbfbf;
  padding-top: 0.5em;
  margin: 0 auto;
  text-align: center;
  height: 2em;
  grid-row: logo;
  width: 161px;
}

.nav ul {
  padding: 0;
  margin: 0;
  display: grid;
  grid-row: ul;
  grid-template-rows: [item1-start] 40px [item1-end item2-start] 40px [item2-end item3-start] 40px [item3-end item4-start] 40px [item4-end item5-start] 40px [item5-end];
  gap: 10px;
}

.nav ul li {
  border-radius: 0.2em;
  text-align: center;
  background: #bfbfbf;
  list-style: none;
  list-style-type: none;
  display: inline-block;
  margin: 0 auto;
  padding-top: 0.6em;
  height: 2em;
}

.item1 {
  grid-row: item1;
  width: 250px;
}

.item2 {
  grid-row: item2;
  width: 250px;
}

.item3 {
  width: 250px;
  grid-row: item3;
}
.item4 {
  grid-row: item4;
  width: 250px;
}
.item5 {
  grid-row: item5;
  min-width: 300px;
  max-width: 350px;
}

.nav a {
  text-decoration: none;
  color: black;
}

.top-content {
  margin-top: 30px;
}

.text-top-content {
  background: #d9d9d9;
  padding: 30%;
  display: block;
  text-align: center;
  margin: 0px 30px;
  border-radius: 0.2em;
}

.form-top-content {
  display: flex;
  border: none;
  justify-content: center;
}

.form-top-content fieldset {
  border: none;
}

.form-top-content input {
  box-sizing: border-box;
  display: flex;
  min-width: 320px;
  height: 3em;
}

input {
  background: #d9d9d9;
  display: block;
  border: none;
  justify-content: center;
  border-radius: 0.2em;
  margin: 5px auto;
  height: 3em;
}

.main-content {
  margin: 15px 0 15px 0;
}

.card-main {
  border-radius: 0.2em;
  height: 270px;
  margin: 10px 30px;
  min-width: 320px;
  background: #d9d9d9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 80px;
}

.card-left-content {
  border-radius: 0.2em;
  margin: 8px 4px 4px 8px;
  background-color: transparent;
  display: grid;
  grid-template-rows: auto 30px;
}

.card-left-content div:nth-child(1) {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  margin: 4px 8px 4px 8px;
  grid-row: 1/2;
}

.card-left-content div:nth-child(2) {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  margin: 4px 8px 4px 8px;
  grid-row: 2/3;
}

.card-right-content {
  border-radius: 0.2em;
  margin: 8px 8px 4px 4px;
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.card-right-content div:nth-child(1) {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  margin: 4px;
}

.card-right-content div:nth-child(2) {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  margin: 4px;
}

.card-bottom-content {
  border-radius: 0.2em;
  margin: 4px 8px 8px 8px;
  background-color: transparent;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 25px;
}

.card-bottom-content div:nth-child(1) {
  background-color: #bfbfbf;
  border-radius: 0.2em;
  margin: 4px 8px 4px 8px;
  grid-column: 1/3;
}

.card-bottom-content div:nth-child(2) {
  background-color: #bfbfbf;
  border-radius: 0.2em;
  margin: 4px 8px 4px 8px;
  grid-column: 2/3;
}

.bottom-content-top {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.card-bottom {
  background-color: #d9d9d9;
  border-radius: 0.2em;
  margin: 10px 30px;
  height: 150px;
}

.bottom-content-bottom {
  display: grid;
  grid-template-rows: repeat(4, 1fr) 70px;
}

.bottom-content-bottom form {
  width: 100%;
}

.bottom-content-bottom form input {
  margin: 10px auto;
  width: 70%;
}

.bottom-content-bottom form input:nth-child(5) {
  margin: 10px auto;
  width: 90%;
  height: 70px;
}

.footer {
  background-color: #d9d9d9;
}

.left-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60px 100px;
}

.footer-logo {
  margin: 10px 30px;
  text-align: center;
  padding-top: 10px;
  grid-column: 1/3;
  grid-row: 1/2;
  background-color: #bfbfbf;
  border-radius: 0.2em;
}

.text-footer {
  margin: 10px 30px;
  background-color: #bfbfbf;
  border-radius: 0.2em;
  grid-column: 1/4;
  grid-row: 2/3;
}

.right-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 120px 120px;
}

.item1-footer {
  margin: 10px 30px;
  grid-column: 1/3;
  grid-row: 1/2;
  border-radius: 0.2em;
  background-color: #bfbfbf;
}
.item2-footer {
  margin: 10px 30px;
  grid-column: 1/3;
  grid-row: 2/3;
  border-radius: 0.2em;
  background-color: #bfbfbf;
}
