body {
  margin-top: 0px;
  padding: 0px;
}

header {
  padding: 15px 0;
  background: #d9d9d9;
  width: 100%;
}

/* navbar do site começo */
.nav {
  margin: 0 20px;
}

.logo-nav {
  border-radius: 0.2em;
  background: #bfbfbf;
  padding-top: 0.6em;
  margin: 0 auto;
  text-align: center;
  height: 2em;
  width: 50%;
}

.nav ul {
  padding: 0;
  margin: 0;
}

.nav ul li {
  border-radius: 0.2em;
  text-align: center;
  background: #bfbfbf;
  list-style: none;
  list-style-type: none;
  margin: 10px auto;
  width: 60%;
  height: 2em;
  padding-top: 0.6em;
}

.nav ul li:last-child {
  width: 75%;
  height: 2.3em;
  padding-top: 1em;
}

.nav a {
  text-decoration: none;
  color: black;
}

/* navbar do site fim */

/* conteudo do top do site começo */
.top-content {
  margin-bottom: 80px;
  margin-top: 20px;
}

.text-top-content {
  background: #d9d9d9;
  display: block;
  text-align: center;
  padding-top: 180px;
  margin: 0px 20px;
  height: 200px;
  border-radius: 0.2em;
}

.form-top-content fieldset {
  border: none;
  margin: 0 20px;
  padding: 0;
  text-align: center;
}

.form-top-content input {
  box-sizing: border-box;
  background: #d9d9d9;
  border: none;
  border-radius: 0.2em;
  padding: 0 0;
}

.form-top-content input:nth-child(1) {
  margin: 10px auto;
  width: 80%;
  height: 60px;
}

.form-top-content input:nth-child(2) {
  width: 100%;
  height: 70px;
}

/* ocultando imagem para mobile */
.top-content-img {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  display: block;
}
/* conteudo do top do site fim */

/* conteudo central do site começo */
.main-content {
  margin: 20px 20px;
}

.card-main {
  border-radius: 0.2em;
  height: 270px;
  min-width: 100%;
  margin: 10px 0;
  background: #d9d9d9;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 80px;
}

.card-left-content {
  border-radius: 0.2em;
  margin: 8px 4px 4px 8px;
  background-color: transparent;
  display: grid;
  grid-template-rows: auto 30px;
}

.card-left-content div:nth-child(1) {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  margin: 4px 8px 4px 8px;
  grid-row: 1/2;
}

.card-left-content div:nth-child(2) {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  margin: 4px 8px 4px 8px;
  grid-row: 2/3;
}

.card-right-content {
  border-radius: 0.2em;
  margin: 8px 8px 4px 4px;
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.card-right-content div:nth-child(1) {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  margin: 4px;
}

.card-right-content div:nth-child(2) {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  margin: 4px;
}

.card-bottom-content {
  border-radius: 0.2em;
  margin: 4px 8px 8px 8px;
  background-color: transparent;
  display: grid;
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 25px;
}

.card-bottom-content div:nth-child(1) {
  background-color: #bfbfbf;
  border-radius: 0.2em;
  margin: 4px 8px 4px 8px;
  grid-column: 1/3;
}

.card-bottom-content div:nth-child(2) {
  background-color: #bfbfbf;
  border-radius: 0.2em;
  margin: 4px 8px 4px 8px;
  grid-column: 2/3;
}
/* conteudo central do site fim */

/* conteudo inferior do site começo */
.bottom-content {
  margin: 55px 20px;
}
.bottom-content-top {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.card-bottom {
  background-color: #d9d9d9;
  border-radius: 0.2em;
  margin: 10px 0;
  width: 100%;
  height: 150px;
  text-align: center;
}

.bottom-content-bottom {
  text-align: center;
}

.bottom-content-bottom form input {
  text-align: center;
  box-sizing: border-box;
  width: 80%;
  padding: 0;
  border: none;
  height: 60px;
  background: #d9d9d9;
  border-radius: 0.2em;
  margin: 5px 0;
}

.bottom-content-bottom form input:nth-child(5) {
  width: 100%;
  height: 70px;
}

.footer {
  margin: 0;
  padding-top: 5px;
  background-color: #d9d9d9;
  display: block;
}

.left-footer {
  margin-left: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.footer-logo {
  text-align: center;
  margin-top: 10px;
  height: 30px;
  width: 150px;
  padding-top: 15px;
  background-color: #bfbfbf;
  border-radius: 0.2em;
}

.text-footer {
  margin: 10px 0;
  background-color: #bfbfbf;
  border-radius: 0.2em;
  height: 100px;
  width: 80%;
}

.right-footer {
  margin: 0 20px;
  padding-bottom: 10px;
}

.item1-footer {
  border-radius: 0.2em;
  background-color: #bfbfbf;
  height: 100px;
  width: 60%;
}
.item2-footer {
  margin-top: 10px;
  border-radius: 0.2em;
  background-color: #bfbfbf;
  height: 100px;
  width: 60%;
}
